*.iml
.gradle
.idea/
.idea/caches/
local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
app/build/
/captures
.externalNativeBuild

/libpromise/libpromise.iml
/libpromise/build/
